:root {
    --main-background: hsl(222, 26%, 31%);
    --keypad-background: hsl(223, 31%, 20%);
    --key-main-color: hsl(30, 25%, 89%);
    --key-secondary-color: hsl(28, 16%, 65%);
    --text-main-color: hsl(221, 14%, 31%);
    --text-secondary-color: hsl(0, 0%, 100%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--main-background);
}

main {
    height: auto;
}

.calculator {
    width: 85%;
    margin: 25px auto 10px;
}

.calculator__banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.calculator__banner h1 {
    font-size: 2.5rem;
    color: var(--text-secondary-color);
}

.themes {
    display: flex;
    align-items: flex-end;
}

.themes h2 {
    margin-right: 15px;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-secondary-color);
}

.modes-container {
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
    padding-left: 8px;
}

.modes-container .mode {
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 1.2rem;
    color: var(--text-secondary-color);
}

.selection-bar {
    display:flex;
    align-items: center;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--keypad-background);
}

.selection-bar__circle {
    margin-left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: hsl(6, 63%, 50%);
}

.calculator__display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 30px;
    height: 70px;
    border-radius: 10px;    
    background-color: hsl(224, 36%, 15%);
}

.calculator__display p {
    margin-right: 20px;
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--text-secondary-color);
}

.calculator__keypad {
    display: grid;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;    
    grid-template-columns: repeat(4, 50px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--keypad-background);
}

.calculator__keypad > button {
    padding-top: 5px;
    height: 50px;
    border: none;
    border-radius: 5px;
}

.calculator__keypad .main {
    font-size: 2.5rem;
    font-weight: 700;
    box-shadow: 0 3px var(--key-secondary-color);
    color: var(--text-main-color);
    background-color: var(--key-main-color);
}

.calculator__keypad .reset {
    grid-column: 1 / span 2;
}

.calculator__keypad .equal {
    grid-column: 3 / span 2;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-secondary-color);
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 3px hsl(6, 70%, 34%);
}

.calculator__keypad .del,
.calculator__keypad .reset {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-secondary-color);
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 3px hsl(224, 28%, 35%);
}

footer {
    display: flex;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    height: auto;
}

a .icon{
    padding-bottom: 10px;
    padding-left: 10px;
    width: 2rem;
    height: 2rem;
    color: hsl(224, 36%, 15%);
}