* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--main-background);
}

.calculator {
    width: 85%;
    height: auto;
}

.calculator__banner {
    display: flex;
    margin: 0 auto;
    min-width: 272px;
    max-width: 320px;
    justify-content: space-between;
    align-items: flex-end;
}

.calculator__banner h1 {
    font-size: 2.5rem;
    color: var(--text-secondary-color);
}

.themes {
    display: flex;
    align-items: flex-end;
}

.themes h2 {
    margin-right: 15px;
    margin-bottom: 2px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-secondary-color);
}

.modes-container {
    display: flex;
    justify-content: center;
    padding-bottom: 4px;
    padding-left: 8px;
}

.modes-container .mode {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1.3rem;
    color: var(--text-secondary-color);
}

.selection-bar {
    display:flex;
    align-items: center;
    width: 60px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--keypad-background);
    cursor: pointer;
}

.selection-bar__circle {
    margin-left: 5px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--equals-key-color);
}

.calculator__display {
    margin: 30px auto 0;
    padding: 20px;
    min-height: 70px;
    max-height: auto;
    min-width: 272px;
    max-width: 320px;
    border: none;
    outline: none;
    border-radius: 10px;    
    background-color: var(--display-background);
    text-align: end;
    font-size: 2.8rem;
    font-weight: 600;
    word-wrap: break-word;
    word-break: break-all;
    color: var(--text-secondary-color);
}

.calculator__keypad {
    display: grid;
    min-width: 272px;
    max-width: 320px;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 10px;    
    grid-template-columns: repeat(4, 50px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--keypad-background);
}

.calculator__keypad > button {
    padding-top: 5px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculator__keypad .main {
    font-size: 2.5rem;
    font-weight: 700;
    box-shadow: 0 3px var(--main-keys-shadow-color);
    color: var(--text-main-color);
    background-color: var(--main-keys-color);
}

.calculator__keypad .reset {
    grid-column: 1 / span 2;
}

.calculator__keypad .equal {
    grid-column: 3 / span 2;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-secondary-color);
    background-color: var(--equals-key-color);
    box-shadow: 0 3px var(--equals-key-shadow-color);
}

.calculator__keypad .del,
.calculator__keypad .reset {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text-secondary-color);
    background-color: var(--delreset-key-color);
    box-shadow: 0 3px var(--delreset-key-shadow-color);
}

footer {
    display: flex;
    margin: 10px auto;
    height: auto;
    min-width: 272px;
    max-width: 320px;
    justify-content: flex-end;
    align-items: center;
}

a .icon{
    padding-bottom: 10px;
    padding-left: 10px;
    width: 1.8rem;
    height: 1.8rem;
    color: var(--main-keys-color);
}

@media (min-width:400px) {
    .calculator__keypad {
        grid-template-columns: repeat(4, 60px);
        height: 400px;
        gap: 10px;
    }
    .calculator__keypad > button {
        height: 60px;
        min-width: 60px;
    }
}